<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="a3wish.main.com.aims212.sam.a3wish">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 背景接收推播 -->
        <service android:name=".fcm.MyMessageReceiveService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- 背景註冊fcm -->
        <service android:name=".fcm.MyInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- 主要是上傳youtub影片時要用到 -->
        <service
            android:name=".upload.UploadService"
            android:exported="true"/>
        <!-- android7.0以後的uri需要加此 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.a3wish.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <!-- google 應用服務 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <!-- google map 應用服務 -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBHuTmrJr2LRGGyIE7W9HGCsJJ72AJu4NI"/>
        <!-- fcm推播服務 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher"/>

        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent"/>

        <!-- 地既印來loading的頁面 -->
        <activity android:name=".PageLoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/><!-- 控制抽屜、許願地圖、圓夢地圖 -->
        <activity android:name=".member.LoginActivty"/><!-- 登入右面 -->
        <activity android:name=".member.ForgetPasswordsActivty"/><!-- 忘記密碼頁面 -->
        <activity android:name=".member.RegisterActivity"/><!-- 註冊頁面 -->
        <activity android:name=".member.UpdateMemberActivity"/><!-- 這個可以刪除不要理他 -->
        <activity android:name=".member.UpdateMemberActivityV2"/><!-- 修改會員資料 -->
        <activity android:name=".member.UpdatePasswordsActivity"/><!-- 修改會員密碼 -->
        <activity android:name=".HopePageActivity"/><!-- 跳轉許願頁面 -->
        <activity android:name=".InformationActivity"/><!-- 跳轉到圓夢的詳細資料 -->
        <activity android:name=".upload.UploadPicActivity"/><!-- 上傳google drive圖片圓夢頁面 -->
        <activity android:name=".upload.UploadVideoActivity"/><!-- 上傳youtube影片圓夢頁面 -->
        <activity android:name=".upload.HeadViewActivity"/><!-- 上傳google drive圖片大頭貼頁面 -->
        <!-- 上傳youtube影片，並處理好影片時會通知預覽頁面 -->
        <activity
            android:name=".upload.PlayActivity"
            android:label="@string/title_activity_play"
            android:parentActivityName=".MainActivity"/>
        <!-- 上傳youtube影片，通知的預覽頁面 -->
        <activity
            android:name=".upload.ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".MainActivity"/>
        <!-- 許願者接收到圓夢者圓夢的資訊頁面 -->

        <activity android:name=".fcm.PicViewActivity">
            <intent-filter>
                <!-- 主要是為了接收 在手機完全沒有運行app時的狀況-->
                <!-- 根據post給fcm server 的json讀取資料-->
                <!-- OPEN_ACTIVITY_1圖片頁面的標記-->
                <action android:name="OPEN_ACTIVITY_1"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 上傳youtube影片，通知的預覽頁面 -->
        <activity android:name=".fcm.VideoViewActivity">
            <intent-filter>
                <!-- 主要是為了接收 在手機完全沒有運行app時的狀況-->
                <!-- 根據post給fcm server 的json讀取資料-->
                <!-- OPEN_ACTIVITY_2影片頁面的標記-->
                <action android:name="OPEN_ACTIVITY_2"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 為了觀看360環景頁面 -->
        <activity android:name=".fcm.Pic360ViewActivity">
        </activity>
    </application>

</manifest>